/*pendiende agregar fuentes*/
body{
	font-size: 16px;
	background-color: #00ac69;
}
header{
	background: url(../imagenes/headBg.jpg) no-repeat;
	
}
.navBar-disorderly{
	text-align: center;
}

.header-title{
	display: inline-block;
	color: white;
	font-size: 2.8em;
	margin-left: 4em;
}
.header-title span{
	color: black;
	font-size: .2em;
	position: relative;
	bottom: 1em;
	left: -1.5em;
}
.header-description{
	color: #1D7A88;
	font-weight: bold;
	font-size: 1.2em;
	display: inline-block;
	margin-left: 20em;
	position: relative;
	top: 2.3em;	
}

.header-description em{
	display: block;
	color: black;
	font-size: .5em
}

.navBar {
	margin-top: 11em;
	padding-bottom: .3em;
}

.navBar ul li{
	display: inline;
	padding-right: .6em;
	background: url(../imagenes/menuspace.jpg) no-repeat right bottom;
}
.navBar ul li a{
	color: #e5df85;
	font-size: .8em;
	padding: .5em;
	text-decoration: none;
	
}
.navBar ul li a:hover{
	color: white;
	background: url(../imagenes/menuHover.jpg) no-repeat center bottom;
}





